*.class
*.jar
*.war
*.ear
**/target/**
**/.idea/**
*.iml
*.ipr
*.iws
*.iml

*.iml

07-cloud-architektur/uebung/loesung/bin/fabio

07-cloud-architektur/uebung/loesung/bin/consul

\.DS_Store

01-kommunikation/beispiele/dropwizard/\.classpath

01-kommunikation/beispiele/dropwizard/\.project

01-kommunikation/beispiele/dropwizard/\.settings/org\.eclipse\.core\.resources\.prefs

01-kommunikation/beispiele/dropwizard/\.settings/org\.eclipse\.jdt\.core\.prefs

01-kommunikation/beispiele/dropwizard/\.settings/org\.eclipse\.m2e\.core\.prefs

01-kommunikation/beispiele/grpc/\.classpath

01-kommunikation/beispiele/grpc/\.project

01-kommunikation/beispiele/grpc/\.settings/org\.eclipse\.jdt\.core\.prefs

01-kommunikation/beispiele/grpc/\.settings/org\.eclipse\.m2e\.core\.prefs

01-kommunikation/beispiele/hazelcast/loesung/\.classpath

01-kommunikation/beispiele/hazelcast/loesung/\.project

01-kommunikation/beispiele/hazelcast/loesung/\.settings/org\.eclipse\.core\.resources\.prefs

01-kommunikation/beispiele/hazelcast/loesung/\.settings/org\.eclipse\.jdt\.core\.prefs

01-kommunikation/beispiele/hazelcast/loesung/\.settings/org\.eclipse\.m2e\.core\.prefs

12-programmiermodelle/uebung/loesung/\.classpath

12-programmiermodelle/uebung/loesung/\.project

12-programmiermodelle/uebung/loesung/\.settings/org\.eclipse\.core\.resources\.prefs

12-programmiermodelle/uebung/loesung/\.settings/org\.eclipse\.jdt\.core\.prefs

12-programmiermodelle/uebung/loesung/\.settings/org\.eclipse\.m2e\.core\.prefs

04-iaas/uebung/01-jclouds/loesung/\.classpath

04-iaas/uebung/01-jclouds/loesung/\.project

04-iaas/uebung/01-jclouds/loesung/\.settings/org\.eclipse\.core\.resources\.prefs

04-iaas/uebung/01-jclouds/loesung/\.settings/org\.eclipse\.jdt\.core\.prefs

04-iaas/uebung/01-jclouds/loesung/\.settings/org\.eclipse\.m2e\.core\.prefs

05-cluster-scheduling/beispiele/marathon/loesung/\.classpath

05-cluster-scheduling/beispiele/marathon/loesung/\.project

05-cluster-scheduling/beispiele/marathon/loesung/\.settings/org\.eclipse\.core\.resources\.prefs

05-cluster-scheduling/beispiele/marathon/loesung/\.settings/org\.eclipse\.jdt\.core\.prefs

05-cluster-scheduling/beispiele/marathon/loesung/\.settings/org\.eclipse\.m2e\.core\.prefs

07-cloud-architektur/beispiele/loesung/\.classpath

07-cloud-architektur/beispiele/loesung/\.project

07-cloud-architektur/beispiele/loesung/\.settings/org\.eclipse\.core\.resources\.prefs

07-cloud-architektur/beispiele/loesung/\.settings/org\.eclipse\.jdt\.core\.prefs

07-cloud-architektur/beispiele/loesung/\.settings/org\.eclipse\.m2e\.core\.prefs

10-big-data/uebung/loesung/\.classpath

10-big-data/uebung/loesung/\.project

10-big-data/uebung/loesung/\.settings/org\.eclipse\.core\.resources\.prefs

10-big-data/uebung/loesung/\.settings/org\.eclipse\.jdt\.core\.prefs

10-big-data/uebung/loesung/\.settings/org\.eclipse\.m2e\.core\.prefs

10-big-data/uebung/vorlage/\.classpath

10-big-data/uebung/vorlage/\.project

10-big-data/uebung/vorlage/\.settings/org\.eclipse\.core\.resources\.prefs

10-big-data/uebung/vorlage/\.settings/org\.eclipse\.jdt\.core\.prefs

10-big-data/uebung/vorlage/\.settings/org\.eclipse\.m2e\.core\.prefs
